# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/*
!.idea/rcb-settings.xml
/backend/node_modules
/shopco_create_react_frontend/node_modules
/shopco_create_react_frontend/eslint.config.js
]
